@page "/home"
@page "/"
@layout MainLayout
@using MudBlazor

<div class="hero-section mud-theme-background">
    <div class="hero-left">
        <MudText Typo="Typo.h1" Class="main-text font-extrabold text-1xl leading-tight">
            Human<br />stories & ideas
        </MudText>
        <MudText Typo="Typo.h6" Class="sub-text mt-10">
            A place to read, write, and deepen your understanding
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" Style="background-color: black; color:white" Class="mt-6 px-8 py-2 rounded-pill-home">
            Start reading
        </MudButton>
    </div>

    <div class="hero-right">
        <img src="images/hero-art.webp" alt="Hero image" class="hero-image" />
    </div>
</div>
